<a href="https://colab.research.google.com/github/shemaaali/DS-Assignment-Submission-Practice-Repository/blob/master/SHIMA_DAOUD_LS_DS17_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [32]:
import numpy as np
import pandas as pd
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-06-04 15:21:13--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 44.232.224.58, 52.26.240.115, 54.71.0.232
Connecting to resources.lendingclub.com (resources.lendingclub.com)|44.232.224.58|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [          <=>       ]  22.10M  2.01MB/s    in 12s

2020-06-04 15:21:26 (1.86 MB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [23170772]

In [33]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [34]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [35]:
df['term']

0          36 months
1          36 months
2          36 months
3          60 months
4          60 months
             ...
128407     36 months
128408     36 months
128409     36 months
128410     36 months
128411     36 months
Name: term, Length: 128412, dtype: object

In [36]:
def strip_months(cell_contents):
  if isinstance(cell_contents, str):
    return int(cell_contents.strip(' months'))
  elif isintance(cell_contents, float): 
    return 0
df['loan_status_is_great'] = df['term'].apply(strip_months)
df.head()

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...              NaN                    36
1 NaN        NaN  ...              NaN                    36
2 NaN        NaN  ...              NaN                    36
3 NaN        NaN  ...              NaN                    60
4 NaN        NaN  ...              NaN                    60

[5 rows x 145 columns]

In [37]:
df.dtypes[-10:]

hardship_payoff_balance_amount    float64
hardship_last_payment_amount      float64
debt_settlement_flag               object
debt_settlement_flag_date          object
settlement_status                  object
settlement_date                    object
settlement_amount                 float64
settlement_percentage             float64
settlement_term                   float64
loan_status_is_great                int64
dtype: object

In [38]:
#Other ways to convert strings to integers
df['loan_status_is_great'] = df['term'].str.strip('months').astype(int)
df['term'][0]
type(df['loan_status_is_great'][0])

numpy.int64

In [0]:
def get_loan_status(status):
  if status == 'Current' or status == 'Fully Paid':
    return 1 
  else: 
    return 0

In [40]:
df.head()

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...              NaN                    36
1 NaN        NaN  ...              NaN                    36
2 NaN        NaN  ...              NaN                    36
3 NaN        NaN  ...              NaN                    60
4 NaN        NaN  ...              NaN                    60

[5 rows x 145 columns]

In [41]:
df['loan_status_is_great'].value_counts()

36    88179
60    40233
Name: loan_status_is_great, dtype: int64

In [42]:
df['term'].value_counts()

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [43]:
df['term'].describe()

count         128412
unique             2
top        36 months
freq           88179
Name: term, dtype: object

In [44]:
df['loan_status_is_great']

0         36
1         36
2         36
3         60
4         60
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: loan_status_is_great, Length: 128412, dtype: int64

In [45]:
df.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
loan_status_is_great       int64
Length: 145, dtype: object

In [46]:
df['loan_status_is_great']

0         36
1         36
2         36
3         60
4         60
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: loan_status_is_great, Length: 128412, dtype: int64

In [47]:
df['loan_status_is_great'][2] = np.NaN

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)



---

In [95]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [50]:
df['issue_d'].tail()

128407    Oct-2018
128408    Oct-2018
128409    Oct-2018
128410    Oct-2018
128411    Oct-2018
Name: issue_d, dtype: object

In [0]:

df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [53]:
df['issue_d'].head()

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]

In [54]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
          ...
128407    2018
128408    2018
128409    2018
128410    2018
128411    2018
Name: issue_d, Length: 128412, dtype: int64

In [55]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [56]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

df.head()

   id  member_id  loan_amnt  ...  settlement_term  issue_year issue_month
0 NaN        NaN      20000  ...              NaN        2018          12
1 NaN        NaN      16000  ...              NaN        2018          12
2 NaN        NaN       8425  ...              NaN        2018          12
3 NaN        NaN      10000  ...              NaN        2018          12
4 NaN        NaN      30000  ...              NaN        2018          12

[5 rows x 146 columns]

In [57]:
df.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
issue_year                 int64
issue_month                int64
Length: 146, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True)

In [59]:
df['earliest_cr_line'].head()

0   1979-06-01
1   2001-11-01
2   1997-10-01
3   2007-05-01
4   2007-10-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [60]:
(df['issue_d'] - df['earliest_cr_line']).dt.days / 365

0         39.528767
1         17.093151
2         21.180822
3         11.594521
4         11.175342
            ...
128407    33.189041
128408    36.276712
128409    12.342466
128410    10.005479
128411    12.090411
Length: 128412, dtype: float64

In [0]:
df['length_of_credit_history'] = (df['issue_d'] - df['earliest_cr_line']).dt.days / 365

In [62]:
df['length_of_credit_history'].describe()

count    128412.000000
mean         16.054497
std           7.908317
min           3.084932
25%          11.093151
50%          14.427397
75%          19.846575
max          68.961644
Name: length_of_credit_history, dtype: float64

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [63]:
df['int_rate'][0]

' 14.47%'

In [64]:
df['int_rate'][1]

' 14.47%'

In [65]:
df['int_rate'][2]

' 27.27%'

In [66]:
df['int_rate'][4]

' 26.31%'

In [67]:
df['int_rate'][3]

' 12.98%'

In [68]:
# We can do cleaning from with other methed to look for 5 rows
df['int_rate'][:5]
# Return them all back
int_rate = ' 14.17%'
df.head()

   id  member_id  loan_amnt  ...  issue_year  issue_month length_of_credit_history
0 NaN        NaN      20000  ...        2018           12                39.528767
1 NaN        NaN      16000  ...        2018           12                17.093151
2 NaN        NaN       8425  ...        2018           12                21.180822
3 NaN        NaN      10000  ...        2018           12                11.594521
4 NaN        NaN      30000  ...        2018           12                11.175342

[5 rows x 147 columns]

In [69]:
int_rate.strip('%')

' 14.17'

In [70]:
int_rate.strip().strip('%')

'14.17'

In [71]:
type(int_rate.strip().strip('%'))

str

In [72]:
float(int_rate.strip().strip('%'))

14.17

In [73]:
type(float(int_rate.strip().strip('%')))

float

In [0]:
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [75]:
int_rate_to_float(int_rate)

14.17

In [76]:
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)

df.head()

   id  member_id  ...  length_of_credit_history  int_rate_float
0 NaN        NaN  ...                 39.528767           14.47
1 NaN        NaN  ...                 17.093151           14.47
2 NaN        NaN  ...                 21.180822           27.27
3 NaN        NaN  ...                 11.594521           12.98
4 NaN        NaN  ...                 11.175342           26.31

[5 rows x 148 columns]

In [90]:
df.dtypes[-5:]

settlement_term             float64
issue_year                    int64
issue_month                   int64
length_of_credit_history    float64
int_rate_float              float64
dtype: object

In [77]:
# Modify the emp_title column to replace titles with 'Other'
df['emp_title'].value_counts(dropna=False, ascending=False)[:20]

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [78]:
len(df['emp_title'].value_counts())

43892

In [79]:
df['emp_title'].isnull().sum()

20947

In [0]:
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [82]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

for example in examples:
  print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [83]:
[clean_title(example) for example in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [84]:

df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()

   id  member_id  ...  length_of_credit_history  int_rate_float
0 NaN        NaN  ...                 39.528767           14.47
1 NaN        NaN  ...                 17.093151           14.47
2 NaN        NaN  ...                 21.180822           27.27
3 NaN        NaN  ...                 11.594521           12.98
4 NaN        NaN  ...                 11.175342           26.31

[5 rows x 148 columns]

In [85]:
df['emp_title'].value_counts(dropna=False, ascending=False)[:20]

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [86]:
len(df['emp_title'].value_counts())

34902

In [87]:
df['emp_title'].isnull().sum()

0

In [88]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

tar (child): instacart_online_grocery_shopping_2017_05_01.tar.gz: Cannot open: No such file or directory
tar (child): Error is not recoverable: exiting now
tar: Child returned status 2
tar: Error is not recoverable: exiting now

In [89]:
%cd instacart_2017_05_01

[Errno 2] No such file or directory: 'instacart_2017_05_01'
/content