<a href="https://colab.research.google.com/github/shemaaali/DS-Assignment-Submission-Practice-Repository/blob/master/SHIMA_DAOUD_LS_DS17_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [12]:
import numpy as np
import pandas as pd
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-06-02 23:00:06--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 35.163.140.110, 44.228.179.66, 52.89.160.109
Connecting to resources.lendingclub.com (resources.lendingclub.com)|35.163.140.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  22.10M  2.08MB/s    in 11s

2020-06-02 23:00:18 (2.06 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23170772]

In [13]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [16]:
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')

print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [17]:
df['term']

0          36 months
1          36 months
2          36 months
3          60 months
4          60 months
             ...
128407     36 months
128408     36 months
128409     36 months
128410     36 months
128411     36 months
Name: term, Length: 128412, dtype: object

In [18]:
def strip_months(cell_contents):
  if isinstance(cell_contents, str):
    return int(cell_contents.strip(' months'))
  elif isintance(cell_contents, float): 
    return 0
df['loan_status_is_great'] = df['term'].apply(strip_months)
df.head()

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...              NaN                    36
1 NaN        NaN  ...              NaN                    36
2 NaN        NaN  ...              NaN                    36
3 NaN        NaN  ...              NaN                    60
4 NaN        NaN  ...              NaN                    60

[5 rows x 145 columns]

In [24]:
df.dtypes[-10:]

hardship_payoff_balance_amount    float64
hardship_last_payment_amount      float64
debt_settlement_flag               object
debt_settlement_flag_date          object
settlement_status                  object
settlement_date                    object
settlement_amount                 float64
settlement_percentage             float64
settlement_term                   float64
loan_status_is_great                int64
dtype: object

In [0]:
#Other ways to convert strings to integers
df['loan_status_is_great'] = df['term'].str.strip('months').astype(int)
df['term'][0]
type(df['loan_status_is_great'][0])

In [0]:
df.head()

In [30]:
df['loan_status_is_great'].value_counts()

36    88179
60    40233
Name: loan_status_is_great, dtype: int64

In [31]:
df['term'].value_counts()

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [32]:
df['term'].describe()

count         128412
unique             2
top        36 months
freq           88179
Name: term, dtype: object

In [33]:
df['loan_status_is_great']

0         36
1         36
2         36
3         60
4         60
          ..
128407    36
128408    36
128409    36
128410    36
128411    36
Name: loan_status_is_great, Length: 128412, dtype: int64

In [35]:
df.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
loan_status_is_great       int64
Length: 145, dtype: object

In [41]:
df['loan_status_is_great']

0         36.0
1         36.0
2          NaN
3         60.0
4         60.0
          ...
128407    36.0
128408    36.0
128409    36.0
128410    36.0
128411    36.0
Name: loan_status_is_great, Length: 128412, dtype: float64

In [40]:
df['loan_status_is_great'][2] = np.NaN

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
df['loan_status_is_great']

In [0]:
#df['New_p']= df[['last_pymnt_d_month'],['last_pymnt_d_year']].apply(strip_months)
#df['newer1_vari'] = df['last_pymnt_d_month'].str.strip(' months').astype(int)
#df['newer2_vari'] = df['last_pymnt_d_year'].str.strip(' years').astype(int)
#df.head()

In [0]:
# Make last_pymnt_d_month column and last_pymnt_d_year
df['newer1_var'] = df['last_pymnt_d_month']
df['newer2_var'] = df['last_pymnt_d_year']
pd.read_csv(df['newer1_var'], df['newer2_var'], skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

In [0]:
df.head()

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [62]:
df['int_rate'][0]

' 14.47%'

In [63]:
df['int_rate'][1]

' 14.47%'

In [64]:
df['int_rate'][2]

' 27.27%'

In [66]:
df['int_rate'][4]

' 26.31%'

In [65]:
df['int_rate'][3]

' 12.98%'

In [73]:
# We can do cleaning from with other methed to look for 5 rows
df['int_rate'][:5]
# Return them all back
int_rate = ' 14.17%'
df.head()

   id  member_id  ...  settlement_term  loan_status_is_great
0 NaN        NaN  ...              NaN                  36.0
1 NaN        NaN  ...              NaN                  36.0
2 NaN        NaN  ...              NaN                   NaN
3 NaN        NaN  ...              NaN                  60.0
4 NaN        NaN  ...              NaN                  60.0

[5 rows x 145 columns]

In [75]:
int_rate.strip('%')

' 14.17'

In [76]:
int_rate.strip().strip('%')

'14.17'

In [77]:
type(int_rate.strip().strip('%'))

str

In [78]:
float(int_rate.strip().strip('%'))

14.17

In [79]:
type(float(int_rate.strip().strip('%')))

float

In [0]:
def int_rate_to_float(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [81]:
int_rate_to_float(int_rate)

14.17

In [82]:
df['int_rate_float'] = df['int_rate'].apply(int_rate_to_float)

df.head()

   id  member_id  ...  loan_status_is_great  int_rate_float
0 NaN        NaN  ...                  36.0           14.47
1 NaN        NaN  ...                  36.0           14.47
2 NaN        NaN  ...                   NaN           27.27
3 NaN        NaN  ...                  60.0           12.98
4 NaN        NaN  ...                  60.0           26.31

[5 rows x 146 columns]

In [83]:
df.dtypes[-5:]

settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
loan_status_is_great     float64
int_rate_float           float64
dtype: object

In [84]:
# Modify the emp_title column to replace titles with 'Other'
df['emp_title'].value_counts(dropna=False, ascending=False)[:20]

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [91]:
len(df['emp_title'].value_counts())

43892

In [92]:
df['emp_title'].isnull().sum()

20947

In [0]:
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [95]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

for example in examples:
  print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [96]:
[clean_title(example) for example in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [97]:

df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()

   id  member_id  ...  loan_status_is_great  int_rate_float
0 NaN        NaN  ...                  36.0           14.47
1 NaN        NaN  ...                  36.0           14.47
2 NaN        NaN  ...                   NaN           27.27
3 NaN        NaN  ...                  60.0           12.98
4 NaN        NaN  ...                  60.0           26.31

[5 rows x 146 columns]

In [98]:
df['emp_title'].value_counts(dropna=False, ascending=False)[:20]

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [99]:
len(df['emp_title'].value_counts())

34902

In [100]:
df['emp_title'].isnull().sum()

0

In [5]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [6]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01